
<h1>Index Page</h1>


<h5>Current user:  {{curUser}}</h5>


<form action="/" method="post">
    <input type="text" name="submitUser" placeholder="Enter Your Username">
    <input type="text" name="submitPassword" placeholder="Enter Your Password">
    <button>Submit</button>
</form>

<form action="/" method="post">
    <input type = submit value="logout" name="Logout">
</form> 

<h2>Search Form</h2>

<form action="/search" method="post">
    <input type="text" name="searchText" placeholder="Search for isbn, title or author">
    <button>Submit</button>
</form>

<h3>Page really ends here</h3>


<h2>Register Form</h2>

<form action="/register" method="post">
    <input type="text" name="submitUser" placeholder="Enter new username">
    <input type="text" name="submitPassword" placeholder="Enter new password">
    <input type="text" name="submitEmail" placeholder="Enter email address">
    <button>Submit</button>
</form>

<h3>Page really ends here</h3>