<!DOCTYPE html>

<head>
 
   <p>My webpage name here</p>
   <style>
    h2 {color: red}
    .header {background-color: lightblue; color: blue}
    .footer {background-color: lightblue; color: blue} 
    </style>

</head>

<body>


<div class="header">
    <P>Header Here</P>
</div>


<!-- Inside this div will be body content from other html files  -->

<div class="container">
      
    
      <br>
      {% block content %}{% endblock %}
      <br>
      
</div>

<!--- ends  -->

<div class="footer">
    <p>Footer here</p>
</div>

</body>